{% load static %}
<header>
    <div class="center">
        <a class="center" href="/">
            <img class="sm-img" src="{% static '/logos.png' %}" alt="logo" loading="lazy">
        </a>
    </div>
    <nav class="center">
        <ul>
            <li>
                <a href="{% url 'myblog:about'%}">소개</a>
            </li>
            <li>
                <a href="{% url 'myblog:contact' %}">연락처</a>
            </li>
            <li>
                <a href="{% url 'myblog:archive' %}">보관소</a>
            </li>
        </ul>
    </nav>
    <div class="center">
        <i class="bi bi-search h4"></i>
    </div>
</header>