<header>
    <div class="center">
        <a class="center" href="/">
            <img class="sm-img" src="https://camo.githubusercontent.com/2e433de3a3a9f580c5149e80e0cac089be4f1464107d597f50e8a0563298f045/68747470733a2f2f7331372e7069636f66696c652e636f6d2f66696c652f383431383130303937362f646a616e676f2e706e67" alt="logo" loading="lazy">
        </a>
    </div>
    <nav class="center">
        <ul>
            <li>
                <a href="{% url 'myblog:about'%}">소개</a>
            </li>
            <li>
                <a href="{% url 'myblog:contact' %}">연락처</a>
            </li>
            <li>
                <a href="{% url 'myblog:archive' %}">보관소</a>
            </li>
        </ul>
    </nav>
    <div class="center">
        <i class="bi bi-search h4"></i>
    </div>
</header>